.red {
   color: red;
}

.blue {
   color: blue;
}

.green {
   color: green;
}

body{
   background-color: darkkhaki;
   align-content: center;
   text-align: center;
   font-size: 1.5rem;
   
};

.container{
   width: 300px;
  height: 300px;
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  flex-grow: 0;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  border-style: solid;
  margin-top: 2rem;
  padding:6rem;
  justify-content: center;
  }

#convert-button{
 color: darkslategrey;
 font-size: x-large;
 background-color: brown; 
 margin-top: 2rem;
 
}
#clear-button{
  
   color:lightskyblue;
  font-size: x-large;
  margin-top: 2rem;
 
}
#tempinput{
   font-size: 20px;
   margin-top: 4rem;
};   


#tempoutput{
   margin-top: 7rem;
   font-size: 2rem;

}
.card{
   margin: 15px;
   border: 1px solid BLACK;
   box-shadow: 1px 2px 2px 1px;
   width: 300px;
   height: 300px;
   padding: 0px;
   -webkit-flex-flow: row wrap;
   margin-top: 4rem;
   margin: 0 auto;
}

   